[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/http_status_code"]
	path = extern/http_status_code
	url = https://github.com/j-ulrich/http-status-codes-cpp.git
